#chewbacca
{

}

#vader
{
    position: relative;
    top: 50px;
    right: 150px;
}

#r2d2
{
    
}
#c3po
{
    
}
#yoda
{
    
}
#chewbacca1
{
    
}
#vader1
{
    
}
#r2d21
{
    
}
#c3po1
{
    
}
#yoda1
{
    
}
#vader
{
    
}
#vader
{
    
}
