header{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 20% 80%;
}

h1{
    grid-column: 1 / 2;
    /*width: 20%;*/
    border: 1px solid red;
    margin-right: 25px;
    /*float: left;*/
}

h3
{
    grid-column: 2 / 3;
    /*width: 80%;*/
    border: 1px solid red;
    /*float: left;*/
}
