table,th,td{
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    border-collapse: collapse;
}

#nom /*id va con #*/
{
    color:violet;
}

.negrita-azul /* clase se aplica a muchos elementos*/
{
    font-style: italic;
    font-size: 30px;
    color:brown;
}
/*th{
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}
td{
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}*/