/*etiqueta {atributs:valor;    } */
body
{ 
/*    background-color: blanchedalmond;*/
    background-image: url("../imatges/musc1.jpg");
    background-repeat: repeat-x;
    color:darkblue;
}
h3
{
    color:white; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
/*    width: 20%;*/
    background-color: brown;
}

li
{
    color:blue;
    font-weight:bold; /*negreta*/
    font-style: italic; /*cursiva*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: coral;    
}

dt
{
    color: blueviolet;
}